@import url("./reset.css");
@import url("./styles/header.css");
@import url("./styles/footer.css");
@import url("./styles/opcoes.css");
@import url("./styles/lista&linktree.css");

:root {
    --branco: #fff;
    --branco-opcoes: #f1f1f1;
    --vermelho: #C11D20;
    --vermelho-esmaecido: #C23031;
    --preto: #000;
    --preto-hover-linktree: #0F0F0F;
    --preto-opcoes-texto-ativo: #1f1f1f;
    --preto-opcoes-inativo: #272727;
    --cinza-opcoes-hover: #3f3f3f;
    --cinza: #555;
    --cinza-nav-passados: #FAFAFA;

    --cor-fundo: var(--preto);

    --cor-fonte-cabecalho: var(--branco);
    
    --cor-fundo-rodape: var(--vermelho);
    --cor-fonte-rodape: var(--branco);

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--preto);
    background-color: var(--cor-fundo);
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}

header, main {
    max-width: 1024px;
}