.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0px 25px;
    max-width: 755px;
    width: 100vw;
}

.corpo__opcoes {
    width: 100%;
    margin-bottom: 40px;
}

.corpo__opcoes-container {
    margin: 0 43px;
    padding: 10px 0;
}

.corpo__opcoes-lista {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 212px;
}

.corpo__opcoes-link {
    background-color: var(--preto-opcoes-inativo);
    font-size: 1.075rem;
    font-weight: 700;
    color: var(--branco-opcoes);
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color .3s ease-in-out;
}

.opcoes-link-ativo {
    background-color: var(--branco-opcoes);
    color: var(--preto-opcoes-texto-ativo);
}

.corpo__opcoes-link:focus {
    background-color: var(--cinza-opcoes-hover);
    transition: background-color .2s ease-in-out;
}

.opcoes-link-ativo:focus {
    background-color: var(--branco-opcoes);
}

@media screen and (min-width: 768px) {
    .corpo {
        padding: 32px 0 18px;
    }

    .corpo__opcoes {
        margin-bottom: 42.5px;
    }
}

@media screen and (min-width: 1024px) {
    .corpo {
        padding: 45px 0 20px;
    }

    .corpo__opcoes {
        margin-bottom: 45px;
    }

    .corpo__opcoes-link:hover {
        background-color: var(--cinza-opcoes-hover);
        transition: background-color .2s ease-in-out;
    }

    .opcoes-link-ativo:hover {
        background-color: var(--branco-opcoes);
    }
}